<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reception | Login</title>
    <link rel="stylesheet" href="/static/css/login-style.css">
</head>
<body>
    <div class="box">
        <form autocomplete="off" method="POST" action="/auth/login">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" required="required" id="username" name="username">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" id="password" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password?</a>
                <a href="#">Signup</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
