<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page_title }}</title>

	<link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-utilities.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="particles-js" class="main row g-3 align-items-center" id="obscure-content">
		<button class="btn btn-primary" type="button" onclick="startQRScanner()">
			Open QrScanner
		</button>
		<div id="reader"></div>
	</div>
	<div class="popup" id="popup">
		<img src="/static/img/404-tick.png">
		<h2>Paid</h2>
		<p id="popup-description"></p>
		<button type="button" onclick="closePopup()">OK</button>
	</div>
	
	<script src="/static/js/particles.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/jquery-3.6.0.min.js"></script>
	<script src="/static/js/qrcode.min.js"></script>
	<script src="/static/js/html5-qrcode.min.js"></script>
	<script src="/static/js/script.js"></script>

	<script type="text/javascript">

		const BASE_URL = "{{ base_url }}";
		let popup = document.getElementById("popup");
		let main = document.getElementById("obscure-content")

		// function openPopup(ticket_type) {
		function openPopup(name, status) {
			popup.classList.add("open-popup");
			main.classList.add("obscure-content");
			$("#popup-description").html(`Your details has been successfully processed. Have a nice date, <b>${name}.</b> 🎊🎊`)
		}

		function closePopup() {
			popup.classList.remove("open-popup");
			main.classList.remove("obscure-content");
		}

		const reserveTicket = ticket_id => {
			$.get(`${BASE_URL}/api/reception/${ticket_id}`).then(res => {
				openPopup(res.name, res.status);
				return res;
			}).fail(res => {
				alert('The Ticket is Invalid.');
			})
		}

		const getTicketIdFromURL = url => {
			const parts = url.split("/");
			return parts[parts.length-1]
		}
		const onScanSuccess = (decodedText, decodedResult) => {
			const ticket_id = getTicketIdFromURL(decodedText)

			if (ticket_id) {
				reserveTicket(ticket_id)
			}
		}

		const startQRScanner = () => {
			var html5QrcodeScanner = new Html5QrcodeScanner(
					"reader", {fps: 10, qrbox: 250});
			html5QrcodeScanner.render(onScanSuccess);
		}

	</script>
</body>
</html>