<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page_title }}</title>

	<link rel="stylesheet" href="/static/css/bootstrap-reboot.rtl.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-grid.rtl.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-utilities.rtl.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="ticket">
		<div class="logo d-flex justify-content-center align-items-center mt-3">
			<img src="/static/img/logo3.png" alt="LOGO 2">
		</div>

		<div id="qrcode" class="qrcode d-flex justify-content-center align-items-center"></div>

		<h1 class="title text-center">{{ event_name }}</h1>
		<h2 id="user-name" class="subtitle text-center"></h2>

		<dl class="desc text-center">
			<dt>Ticket Number</dt>
			<dd id="ticket-id"></dd>

			<dt>Ticket Type</dt>
			<dd id="ticket-name"></dd>

			<dt>Contact</dt>
			<dd id="phone-number"></dd>
		</dl>

		<div class="error-msg text-center">
			The Link entered is Invalid.
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/static/js/qrcode.min.js"></script>
	<script src="/static/js/script.js"></script>

	<script type="text/javascript">
		const BASE_URL = "{{ base_url }}";

		function get_ticket(ticket_id) {
			return $.get(`${BASE_URL}/api/ticket/${ticket_id}`).then(res => {
				$("#user-name").html(`${res.name}`);
				$("#ticket-id").html(`${res.ticket_id}`);
				$("#ticket-name").html(`${res.status}`);
				$("#phone-number").html(`${res.phone_number}`);
				return res;
			});
		}

		$(document).ready(function () {
			const ticket_id = "{{ ticket_id }}";
			get_ticket(ticket_id).then(res => {
				new QRCode(document.getElementById("qrcode"), {
					text: `${BASE_URL}/ticket/${ticket_id}`,
					width: 120,
					height: 120
				});
			}).fail(() => {
				$(".ticket").addClass('error');
			});
		});
	</script>
</body>
</html>
